[submodule "packages/foliate-js"]
	path = packages/foliate-js
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/foliate-js.git
[submodule "packages/tauri"]
	path = packages/tauri
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/tauri.git
[submodule "packages/tauri-plugins"]
	path = packages/tauri-plugins
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/tauri-plugins-workspace.git
[submodule "packages/simplecc-wasm"]
	path = packages/simplecc-wasm
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/simplecc-wasm.git
[submodule "apps/readest-app/src-tauri/plugins/tauri-plugin-turso"]
	path = apps/readest-app/src-tauri/plugins/tauri-plugin-turso
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/tauri-plugin-turso.git
[submodule "apps/readest-app/.claude/skills/gstack"]
	path = apps/readest-app/.claude/skills/gstack
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/gstack.git
[submodule "packages/qcms"]
	path = packages/qcms
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/pdf.js.qcms.git
[submodule "packages/js-mdict"]
	path = packages/js-mdict
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/js-mdict.git
[submodule "apps/readest-app/src-tauri/plugins/tauri-plugin-webview-upgrade"]
	path = apps/readest-app/src-tauri/plugins/tauri-plugin-webview-upgrade
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/tauri-plugin-webview-upgrade.git
[submodule "packages/tao"]
	path = packages/tao
	url = ssh://git@192.168.0.55:10522/izum_vinipuhov/tao.git
